.flows.json.backup
[{"id":"8911219f.30d5d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"131ffa0f.c25486","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3fbc6423.12929c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4073e8d1.ce31e8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec772911.fd82b8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b43cfb98.8b1c78","type":"ui_group","z":"","name":"ui_control","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"65727c25.b53354","type":"ui_group","z":"","name":"ui-table Copy & Paste","tab":"","order":1,"disp":true,"width":"17","collapse":false},{"id":"bb53fc07.2627f","type":"ui_tab","z":"","name":"Lodu Tounament 2.0","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"649131cd.37605","type":"ui_group","z":"","name":"Default","tab":"32f7feb3.16efc2","order":1,"disp":true,"width":"6","collapse":false},{"id":"32f7feb3.16efc2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"829a77c5.2d1238","type":"ui_group","z":"","name":"Values","tab":"bb53fc07.2627f","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5a8ecec.fcc7f","type":"ui_group","z":"","name":"Dashboard","tab":"bb53fc07.2627f","order":2,"disp":true,"width":"6","collapse":false},{"id":"ffdddc72.b3c57","type":"ui_group","z":"","name":"ui_control","tab":"a0b794d.70e3f68","order":1,"disp":true,"width":"22","collapse":false},{"id":"a0b794d.70e3f68","type":"ui_tab","z":"","name":"Home","icon":"track_changes","order":1,"disabled":false,"hidden":false},{"id":"2b59f2f1.d63d9e","type":"ui_group","z":"","name":"Group 1","tab":"6d771dfc.8a33f4","order":1,"disp":true,"width":"24","collapse":false},{"id":"6d771dfc.8a33f4","type":"ui_tab","name":"Tab 6","icon":"dashboard","order":1},{"id":"326828ea.655058","type":"ui_form","z":"8911219f.30d5d","name":"","label":"Ravi Status","group":"829a77c5.2d1238","order":1,"width":0,"height":0,"options":[{"label":"1st","value":"1","type":"number","required":false,"rows":null},{"label":"2nd","value":"2","type":"number","required":false,"rows":null},{"label":"3rd","value":"3","type":"number","required":false,"rows":null}],"formValue":{"1":"","2":"","3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":240,"wires":[["f33681f8.c2b53","f21dadb9.bb1f5","8dfbaea0.a2a15","cc02b38b.74762"]]},{"id":"f33681f8.c2b53","type":"calculator","z":"8911219f.30d5d","name":"2nd","inputMsgField":"payload.2","outputMsgField":"payload","operation":"mult","constant":"6","x":150,"y":340,"wires":[["1d606419.7addcc"]]},{"id":"f21dadb9.bb1f5","type":"calculator","z":"8911219f.30d5d","name":"3rd","inputMsgField":"payload.3","outputMsgField":"payload","operation":"mult","constant":"3","x":150,"y":380,"wires":[["4132934b.fb8aec"]]},{"id":"8dfbaea0.a2a15","type":"calculator","z":"8911219f.30d5d","name":"1st","inputMsgField":"payload.1","outputMsgField":"payload","operation":"mult","constant":"10","x":150,"y":300,"wires":[["66473e08.6aedf"]]},{"id":"776b4d8e.425b14","type":"join","z":"8911219f.30d5d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":300,"wires":[["48218c66.c5b644"]]},{"id":"66473e08.6aedf","type":"change","z":"8911219f.30d5d","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":300,"wires":[["776b4d8e.425b14"]]},{"id":"1d606419.7addcc","type":"change","z":"8911219f.30d5d","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":340,"wires":[["776b4d8e.425b14"]]},{"id":"48218c66.c5b644","type":"change","z":"8911219f.30d5d","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[["2fb34b0.72f18b6","8bc74570.6d2038","5b978eb7.f5906"]]},{"id":"2fb34b0.72f18b6","type":"debug","z":"8911219f.30d5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.s","targetType":"msg","x":540,"y":380,"wires":[]},{"id":"4132934b.fb8aec","type":"change","z":"8911219f.30d5d","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":380,"wires":[["776b4d8e.425b14"]]},{"id":"cc02b38b.74762","type":"change","z":"8911219f.30d5d","name":"Ravi data","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.r","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["9acd1ff8.28469"]]},{"id":"392a724e.675d7e","type":"ui_table","z":"8911219f.30d5d","group":"f5a8ecec.fcc7f","name":"","width":0,"height":4,"columns":[],"outputs":0,"cts":false,"x":730,"y":340,"wires":[]},{"id":"9acd1ff8.28469","type":"template","z":"8911219f.30d5d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"Name\":\"Rawee\",\n        \"Score\":\"{{payload.r.s}}\",\n        \"1st\":\"{{payload.r.1}}\",\n        \"2nd\":\"{{payload.r.2}}\",\n        \"3rd\":\"{{payload.r.3}}\"\n    },\n    {\n        \"Name\":\"Gaurav\",\n        \"Score\":\"{{payload.g.s}}\",\n        \"1st\":\"{{payload.g.1}}\",\n        \"2nd\":\"{{payload.g.2}}\",\n        \"3rd\":\"{{payload.g.3}}\"\n    },\n    {\n        \"Name\":\"Bansal\",\n        \"Score\":\"{{payload.b.s}}\",\n        \"1st\":\"{{payload.b.1}}\",\n        \"2nd\":\"{{payload.b.2}}\",\n        \"3rd\":\"{{payload.b.3}}\"\n    },\n    {\n        \"Name\":\"Tripathi\",\n        \"Score\":\"{{payload.t.s}}\",\n        \"1st\":\"{{payload.t.1}}\",\n        \"2nd\":\"{{payload.t.2}}\",\n        \"3rd\":\"{{payload.t.3}}\"\n    },\n    {\n        \"Name\":\"Simran\",\n        \"Score\":\"{{payload.c.s}}\",\n        \"1st\":\"{{payload.c.1}}\",\n        \"2nd\":\"{{payload.c.2}}\",\n        \"3rd\":\"{{payload.c.3}}\"\n    }\n]","output":"json","x":740,"y":300,"wires":[["392a724e.675d7e"]]},{"id":"8bc74570.6d2038","type":"file","z":"8911219f.30d5d","name":"datafile","filename":"datafile.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":660,"y":440,"wires":[[]]},{"id":"5b978eb7.f5906","type":"join","z":"8911219f.30d5d","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":650,"y":480,"wires":[["f8f453cd.789f4"]]},{"id":"f8f453cd.789f4","type":"debug","z":"8911219f.30d5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":520,"wires":[]},{"id":"e99dc654.db4fb8","type":"debug","z":"8911219f.30d5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":700,"wires":[]},{"id":"d5595340.682ec","type":"file in","z":"8911219f.30d5d","name":"ReadData","filename":"Files/ravi.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":700,"wires":[["829dc0cf.9ba19"]]},{"id":"829dc0cf.9ba19","type":"json","z":"8911219f.30d5d","name":"","property":"payload","action":"","pretty":false,"x":430,"y":700,"wires":[["10237c11.3a88b4"]]},{"id":"6bb4a768.fe1c88","type":"inject","z":"8911219f.30d5d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":700,"wires":[["d5595340.682ec"]]},{"id":"c03d1494.2cdc78","type":"ui_slider","z":"8911219f.30d5d","name":"","label":"Points","tooltip":"","group":"649131cd.37605","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":1,"x":540,"y":820,"wires":[[]]},{"id":"10237c11.3a88b4","type":"ui_table","z":"8911219f.30d5d","group":"649131cd.37605","name":"","width":0,"height":4,"columns":[],"outputs":0,"cts":false,"x":350,"y":620,"wires":[]}]