flows.json
[{"id":"8911219f.30d5d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3fbc6423.12929c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"9a939c7b.9db9","type":"ui_tab","z":"","name":"Scores","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c98d18f7.69cc38","type":"ui_group","z":"","name":"Dashboad","tab":"9a939c7b.9db9","order":1,"disp":true,"width":"7","collapse":false},{"id":"1b307b4a.8520f5","type":"ui_link","z":"","name":"Home","link":"/home","icon":"open_in_browser","target":"iframe","order":2},{"id":"ace49a45.3899f8","type":"ui_link","z":"","name":"Candidates","link":"/candidates","icon":"open_in_browser","target":"iframe","order":4},{"id":"ae057ba2.31e618","type":"telegram bot","z":"","botname":"RaweeBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e99dc654.db4fb8","type":"debug","z":"8911219f.30d5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":120,"wires":[]},{"id":"d5595340.682ec","type":"file in","z":"8911219f.30d5d","name":"ReadData","filename":"Files/ravi.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":100,"wires":[["829dc0cf.9ba19"]]},{"id":"829dc0cf.9ba19","type":"json","z":"8911219f.30d5d","name":"","property":"payload","action":"","pretty":false,"x":370,"y":100,"wires":[["10237c11.3a88b4","e99dc654.db4fb8","b92bb32b.91727"]]},{"id":"6bb4a768.fe1c88","type":"inject","z":"8911219f.30d5d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["d5595340.682ec"]]},{"id":"10237c11.3a88b4","type":"ui_table","z":"8911219f.30d5d","group":"c98d18f7.69cc38","name":"","order":1,"width":"7","height":"5","columns":[],"outputs":0,"cts":false,"x":510,"y":60,"wires":[]},{"id":"885aff50.c871e","type":"file in","z":"8911219f.30d5d","name":"home page","filename":"Files/homepage.html","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":270,"y":240,"wires":[["10bf648a.750ecb"]]},{"id":"77a92d61.feee84","type":"http in","z":"8911219f.30d5d","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["885aff50.c871e"]]},{"id":"10bf648a.750ecb","type":"http response","z":"8911219f.30d5d","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":430,"y":240,"wires":[]},{"id":"4936ac49.c59a34","type":"http in","z":"8911219f.30d5d","name":"","url":"/candidates","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["37a308f3.df2378"]]},{"id":"9f5e0146.bd3e1","type":"http response","z":"8911219f.30d5d","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":450,"y":300,"wires":[]},{"id":"37a308f3.df2378","type":"file in","z":"8911219f.30d5d","name":"","filename":"Files/Card1.html","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":300,"y":300,"wires":[["9f5e0146.bd3e1"]]},{"id":"b92bb32b.91727","type":"ui_template","z":"8911219f.30d5d","group":"c98d18f7.69cc38","name":"","order":2,"width":0,"height":0,"format":"<div>\n    <h1>My Team</h1>\n    <p>My Details are here.</p>\n    <p> {{msg.payload[0].Name}}</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":180,"wires":[[]]},{"id":"7edaa8e1.ea7a68","type":"telegram receiver","z":"8911219f.30d5d","name":"Msz Reciver","bot":"ae057ba2.31e618","saveDataDir":"/Files/downloads","filterCommands":false,"x":630,"y":320,"wires":[["bddd7a84.ca1668","18e7b69a.7651d9"],[]]},{"id":"b1258783.7bb018","type":"telegram command","z":"8911219f.30d5d","name":"","command":"/start","bot":"ae057ba2.31e618","strict":false,"hasresponse":true,"x":110,"y":380,"wires":[["fc8c5b14.fdbbb8"],["fc8c5b14.fdbbb8"]]},{"id":"bddd7a84.ca1668","type":"debug","z":"8911219f.30d5d","name":"Teli Msz","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":320,"wires":[]},{"id":"16813edf.c3a2d1","type":"telegram sender","z":"8911219f.30d5d","name":"Welcome","bot":"ae057ba2.31e618","x":460,"y":380,"wires":[[]]},{"id":"fc8c5b14.fdbbb8","type":"template","z":"8911219f.30d5d","name":"Welcome Msz","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"chatId\":{{originalMessage.from.id}},\n\"type\":\"message\",\n\"content\":\"Hi {{originalMessage.from.first_name}}, \\nThis is Texting machine for Ludo Tournament. Intial Stage me hai bhai aabhi ye. \\nType or click /ludo to get informations. \\nor type /situ \"\n}","output":"json","x":280,"y":380,"wires":[["16813edf.c3a2d1"]]},{"id":"18e7b69a.7651d9","type":"file","z":"8911219f.30d5d","name":"recived msz","filename":"Files/telegraMsz.json","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":850,"y":380,"wires":[[]]},{"id":"6c2dc179.70ede","type":"telegram command","z":"8911219f.30d5d","name":"Ludo","command":"/ludo","bot":"ae057ba2.31e618","strict":false,"hasresponse":true,"x":110,"y":440,"wires":[["157cfb0d.7c8f35"],["157cfb0d.7c8f35"]]},{"id":"157cfb0d.7c8f35","type":"template","z":"8911219f.30d5d","name":"Ludo Details","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"chatId\":{{originalMessage.from.id}},\n    \"type\":\"message\",\n    \"content\":\"WELCOME to LOCKDOWN LUDO STAR TOURNAMENT 2.O \\n \\nIn this Tournament, there will be Eight Players 21 matches and one Trophy. \\nFirst Round \\n \\nMatch 1: BANSAL VS TRIPATHI VS SANJNA VS SIMRAN    \\nMatch 2: NISHA VS BANSAL VS RAWEE VS DOLLY    \\nMatch 3: SANJNA VS RAWEE VS DOLLY VS GAURAV    \\nMatch 4: SANJNA VS BANSAL VS NISHA VS GAURAV    \\nMatch 5: TRIPATHI VS NISHA VS RAWEE VS SIMRAN    \\nMatch 6: TRIPATHI VS DOLLY VS SIMRAN VS GAURAV    \\nMatch 7: BANSAL VS TRIPATHI VS SANJNA VS RAWEE    \\nMatch 8: NISHA VS BANSAL VS DOLLY VS SIMRAN    \\nMatch 9: SANJNA VS SIMRAN VS DOLLY VS GAURAV    \\nMatch 10: SANJNA VS BANSAL VS RAWEE VS DOLLY    \\nMatch 11: TRIPATHI VS NISHA VS RAWEE VS GAURAV    \\nMatch 12: TRIPATHI VS NISHA VS GAURAV VS SIMRAN    \\nWinner will get 10 Points, 2nd place player will get 6 Points and 3rd Place player will get 3 Points and 4th position will not be rewarded any points after each match. After completion of 6 matches top 6 Players will move to second Round. In case of tie in Points Table a single Match will played to break the Tie. No points of first round forwarded to next round. \\nAny Problem regarding Internet issue and battery low issue will not be considered once the match started.\"\n    }","output":"json","x":270,"y":440,"wires":[["83175643.2a2a08"]]},{"id":"83175643.2a2a08","type":"telegram sender","z":"8911219f.30d5d","name":"Msz Go","bot":"ae057ba2.31e618","x":460,"y":440,"wires":[[]]},{"id":"4defcc60.a933b4","type":"telegram command","z":"8911219f.30d5d","name":"","command":"/situ","bot":"ae057ba2.31e618","strict":false,"hasresponse":true,"x":110,"y":500,"wires":[["8f0c4e18.ab575"],["8f0c4e18.ab575"]]},{"id":"cefef22c.891a","type":"telegram sender","z":"8911219f.30d5d","name":"Welcome","bot":"ae057ba2.31e618","x":460,"y":500,"wires":[[]]},{"id":"8f0c4e18.ab575","type":"template","z":"8911219f.30d5d","name":"Welcome Msz","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"chatId\":{{originalMessage.from.id}},\n\"type\":\"message\",\n\"content\":\"Are ye kya baat hui Mr. {{originalMessage.from.first_name}}. \\nG kon lagayega. \" \n}","output":"json","x":280,"y":500,"wires":[["cefef22c.891a"]]}]