flows.json
[{"id":"8911219f.30d5d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"131ffa0f.c25486","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3fbc6423.12929c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"4073e8d1.ce31e8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec772911.fd82b8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b43cfb98.8b1c78","type":"ui_group","z":"","name":"ui_control","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"65727c25.b53354","type":"ui_group","z":"","name":"ui-table Copy & Paste","tab":"","order":1,"disp":true,"width":"17","collapse":false},{"id":"649131cd.37605","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"829a77c5.2d1238","type":"ui_group","z":"","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5a8ecec.fcc7f","type":"ui_group","z":"","name":"Dashboard","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ffdddc72.b3c57","type":"ui_group","z":"","name":"ui_control","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"2b59f2f1.d63d9e","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"24","collapse":false},{"id":"9a939c7b.9db9","type":"ui_tab","z":"","name":"Scores","icon":"dashboard","disabled":false,"hidden":false},{"id":"c98d18f7.69cc38","type":"ui_group","z":"","name":"Dashboad","tab":"9a939c7b.9db9","order":1,"disp":true,"width":"7","collapse":false},{"id":"a3e2775d.5de198","type":"ui_tab","z":"","name":"Home","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"cdf8948b.9e1418","type":"ui_group","z":"","name":"Lodu Tounament","tab":"a3e2775d.5de198","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b307b4a.8520f5","type":"ui_link","z":"","name":"Home","link":"/home","icon":"open_in_browser","target":"iframe","order":3},{"id":"e99dc654.db4fb8","type":"debug","z":"8911219f.30d5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":200,"wires":[]},{"id":"d5595340.682ec","type":"file in","z":"8911219f.30d5d","name":"ReadData","filename":"Files/ravi.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":180,"wires":[["829dc0cf.9ba19"]]},{"id":"829dc0cf.9ba19","type":"json","z":"8911219f.30d5d","name":"","property":"payload","action":"","pretty":false,"x":410,"y":180,"wires":[["10237c11.3a88b4","e99dc654.db4fb8"]]},{"id":"6bb4a768.fe1c88","type":"inject","z":"8911219f.30d5d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":180,"wires":[["d5595340.682ec"]]},{"id":"10237c11.3a88b4","type":"ui_table","z":"8911219f.30d5d","group":"c98d18f7.69cc38","name":"","order":1,"width":"7","height":"5","columns":[],"outputs":0,"cts":false,"x":510,"y":180,"wires":[]},{"id":"885aff50.c871e","type":"file in","z":"8911219f.30d5d","name":"home page","filename":"Files/homepage.html","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":310,"y":320,"wires":[["d61ba4a4.5a10d8","10bf648a.750ecb"]]},{"id":"77a92d61.feee84","type":"http in","z":"8911219f.30d5d","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["885aff50.c871e"]]},{"id":"10bf648a.750ecb","type":"http response","z":"8911219f.30d5d","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":550,"y":420,"wires":[]},{"id":"d61ba4a4.5a10d8","type":"ui_template","z":"8911219f.30d5d","group":"cdf8948b.9e1418","name":"","order":0,"width":"6","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":320,"wires":[[]]},{"id":"da71d84.818b328","type":"http in","z":"8911219f.30d5d","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["885aff50.c871e"]]}]